$surface-strongest: rgb(22,16,27);
$surface-strong: rgb(22,16,27);
$surface-moderate: rgb(187,178,248);
$surface-weak: rgb(22,16,27);
$surface-weakest: rgb(22,16,27);

$white-strongest: rgb(140,134,186);
$white-strong: rgba(187,178,248, 0.87);
$white-moderate: rgba(187,178,248, 0.34);
$white-weak: rgba(187,178,248, 0.14);
$white-weakest: rgba(187,178,248, 0.06);

$black-strongest: rgb(106,12,131);
$black-strong: rgba(106,12,131, 0.87);
$black-moderate: rgba(191,55,119, 0.42);
$black-weak: rgba(106,12,131, 0.15);
$black-weakest: rgba(187,178,248, 0.06);

$red-normal: rgb(191,55,119);
$red-light: rgb(192,14,76);
$orange-normal: rgba(22,16,27, 0.8);
$orange-light: rgb(22,16,27);
$yellow-normal: rgb(22,16,27);
$yellow-light: rgb(22,16,27);
$green-normal: rgb(187,178,248);
$green-light: rgb(97, 214, 126);
$cyan-normal: rgb(187,178,248);
$cyan-light: rgb(187,178,248);
$blue-normal: rgb(22,16,27);
$blue-light: rgb(22,16,27);
$purple-normal: rgb(187,178,248);
$purple-light: rgb(212,208,243);
$pink-normal: rgb(187,168,237);
$pink-light: rgb(212,208,243);
$pink-custom: rgb(144,11,57);
$pink: rgb(142,87,138);
$red: rgb(189,117,183);
$red-custom: rgb(140,126,178);

$accent-primary: $purple-normal;
$accent-secondary: $green-normal;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-strong};
