configuration {
    font:                           "Fira Sans 13";
    hover-select:                   true;
    me-select-entry:                "";
    me-accept-entry:                "MousePrimary";
}


* {
    background-color:       transparent;
    background:             rgba(0,0,0,0.7);
    background-transparent: #16101B;
    text-color:             #D8DEE9;
    primary:                #8C7EB2;
    secondary:              #9592AA;
    urgent:                 #D4D0F3;
}
